UserInterface/Service References/ServiceUColaborateur/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UColaborateur" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUColaborateur_ajouterColab_InputMessage">
    <wsdl:part name="parameters" element="tns:ajouterColab" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ajouterColab_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajouterColabResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_getColaborateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:getColaborateurs" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_getColaborateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getColaborateursResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_getColaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:getColaborateur" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_getColaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:getColaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_afficherColab_InputMessage">
    <wsdl:part name="parameters" element="tns:afficherColab" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_afficherColab_OutputMessage">
    <wsdl:part name="parameters" element="tns:afficherColabResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerColaborateurConfirmer_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerColaborateurConfirmer" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerColaborateurConfirmer_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerColaborateurConfirmerResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerColaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerColaborateur" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerColaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerColaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_detaillerColaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:detaillerColaborateur" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_detaillerColaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:detaillerColaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierColborateurById_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierColborateurById" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierColborateurById_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierColborateurByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierColaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierColaborateur" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierColaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierColaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_FileExtension_InputMessage">
    <wsdl:part name="parameters" element="tns:FileExtension" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_FileExtension_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileExtensionResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ExporterColaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:ExporterColaborateur" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ExporterColaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExporterColaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_sendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_sendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ajouterDemandeVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:ajouterDemandeVisa" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ajouterDemandeVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajouterDemandeVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_afficherVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:afficherVisa" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_afficherVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:afficherVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDemandeVisaConfirmer_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDemandeVisaConfirmer" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDemandeVisaConfirmer_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDemandeVisaConfirmerResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDemandeVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDemandeVisa" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDemandeVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDemandeVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_detaillerDemandeVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:detaillerDemandeVisa" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_detaillerDemandeVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:detaillerDemandeVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDemandeVisaById_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierDemandeVisaById" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDemandeVisaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierDemandeVisaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDemandeVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierDemandeVisa" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDemandeVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierDemandeVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ajouterDeplacement_InputMessage">
    <wsdl:part name="parameters" element="tns:ajouterDeplacement" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ajouterDeplacement_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajouterDeplacementResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_afficherDeplacement_InputMessage">
    <wsdl:part name="parameters" element="tns:afficherDeplacement" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_afficherDeplacement_OutputMessage">
    <wsdl:part name="parameters" element="tns:afficherDeplacementResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDeplacementConfirmer_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDeplacementConfirmer" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDeplacementConfirmer_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDeplacementConfirmerResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDeplacement_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDeplacement" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_supprimerDeplacement_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerDeplacementResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_detaillerDeplacement_InputMessage">
    <wsdl:part name="parameters" element="tns:detaillerDeplacement" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_detaillerDeplacement_OutputMessage">
    <wsdl:part name="parameters" element="tns:detaillerDeplacementResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDeplacementById_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierDeplacementById" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDeplacementById_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierDeplacementByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDeplacement_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierDeplacement" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_modifierDeplacement_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierDeplacementResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ProposeColaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:ProposeColaborateur" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_ProposeColaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProposeColaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_getDeplacements_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeplacements" />
  </wsdl:message>
  <wsdl:message name="IUColaborateur_getDeplacements_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeplacementsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUColaborateur">
    <wsdl:operation name="ajouterColab">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/ajouterColab" message="tns:IUColaborateur_ajouterColab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/ajouterColabResponse" message="tns:IUColaborateur_ajouterColab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getColaborateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/getColaborateurs" message="tns:IUColaborateur_getColaborateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/getColaborateursResponse" message="tns:IUColaborateur_getColaborateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getColaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/getColaborateur" message="tns:IUColaborateur_getColaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/getColaborateurResponse" message="tns:IUColaborateur_getColaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="afficherColab">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/afficherColab" message="tns:IUColaborateur_afficherColab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/afficherColabResponse" message="tns:IUColaborateur_afficherColab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerColaborateurConfirmer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/supprimerColaborateurConfirmer" message="tns:IUColaborateur_supprimerColaborateurConfirmer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/supprimerColaborateurConfirmerResponse" message="tns:IUColaborateur_supprimerColaborateurConfirmer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerColaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/supprimerColaborateur" message="tns:IUColaborateur_supprimerColaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/supprimerColaborateurResponse" message="tns:IUColaborateur_supprimerColaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="detaillerColaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/detaillerColaborateur" message="tns:IUColaborateur_detaillerColaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/detaillerColaborateurResponse" message="tns:IUColaborateur_detaillerColaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierColborateurById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/modifierColborateurById" message="tns:IUColaborateur_modifierColborateurById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/modifierColborateurByIdResponse" message="tns:IUColaborateur_modifierColborateurById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierColaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/modifierColaborateur" message="tns:IUColaborateur_modifierColaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/modifierColaborateurResponse" message="tns:IUColaborateur_modifierColaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileExtension">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/FileExtension" message="tns:IUColaborateur_FileExtension_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/FileExtensionResponse" message="tns:IUColaborateur_FileExtension_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExporterColaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/ExporterColaborateur" message="tns:IUColaborateur_ExporterColaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/ExporterColaborateurResponse" message="tns:IUColaborateur_ExporterColaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/sendMail" message="tns:IUColaborateur_sendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/sendMailResponse" message="tns:IUColaborateur_sendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajouterDemandeVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/ajouterDemandeVisa" message="tns:IUColaborateur_ajouterDemandeVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/ajouterDemandeVisaResponse" message="tns:IUColaborateur_ajouterDemandeVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="afficherVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/afficherVisa" message="tns:IUColaborateur_afficherVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/afficherVisaResponse" message="tns:IUColaborateur_afficherVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerDemandeVisaConfirmer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDemandeVisaConfirmer" message="tns:IUColaborateur_supprimerDemandeVisaConfirmer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDemandeVisaConfirmerResponse" message="tns:IUColaborateur_supprimerDemandeVisaConfirmer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerDemandeVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDemandeVisa" message="tns:IUColaborateur_supprimerDemandeVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDemandeVisaResponse" message="tns:IUColaborateur_supprimerDemandeVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="detaillerDemandeVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/detaillerDemandeVisa" message="tns:IUColaborateur_detaillerDemandeVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/detaillerDemandeVisaResponse" message="tns:IUColaborateur_detaillerDemandeVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierDemandeVisaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/modifierDemandeVisaById" message="tns:IUColaborateur_modifierDemandeVisaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/modifierDemandeVisaByIdResponse" message="tns:IUColaborateur_modifierDemandeVisaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierDemandeVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/modifierDemandeVisa" message="tns:IUColaborateur_modifierDemandeVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/modifierDemandeVisaResponse" message="tns:IUColaborateur_modifierDemandeVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajouterDeplacement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/ajouterDeplacement" message="tns:IUColaborateur_ajouterDeplacement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/ajouterDeplacementResponse" message="tns:IUColaborateur_ajouterDeplacement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="afficherDeplacement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/afficherDeplacement" message="tns:IUColaborateur_afficherDeplacement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/afficherDeplacementResponse" message="tns:IUColaborateur_afficherDeplacement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerDeplacementConfirmer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDeplacementConfirmer" message="tns:IUColaborateur_supprimerDeplacementConfirmer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDeplacementConfirmerResponse" message="tns:IUColaborateur_supprimerDeplacementConfirmer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerDeplacement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDeplacement" message="tns:IUColaborateur_supprimerDeplacement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/supprimerDeplacementResponse" message="tns:IUColaborateur_supprimerDeplacement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="detaillerDeplacement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/detaillerDeplacement" message="tns:IUColaborateur_detaillerDeplacement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/detaillerDeplacementResponse" message="tns:IUColaborateur_detaillerDeplacement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierDeplacementById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/modifierDeplacementById" message="tns:IUColaborateur_modifierDeplacementById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/modifierDeplacementByIdResponse" message="tns:IUColaborateur_modifierDeplacementById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierDeplacement">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/modifierDeplacement" message="tns:IUColaborateur_modifierDeplacement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/modifierDeplacementResponse" message="tns:IUColaborateur_modifierDeplacement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProposeColaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/ProposeColaborateur" message="tns:IUColaborateur_ProposeColaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/ProposeColaborateurResponse" message="tns:IUColaborateur_ProposeColaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDeplacements">
      <wsdl:input wsaw:Action="http://tempuri.org/IUColaborateur/getDeplacements" message="tns:IUColaborateur_getDeplacements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUColaborateur/getDeplacementsResponse" message="tns:IUColaborateur_getDeplacements_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUColaborateur" type="tns:IUColaborateur">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ajouterColab">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/ajouterColab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColaborateurs">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/getColaborateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColaborateur">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/getColaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="afficherColab">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/afficherColab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerColaborateurConfirmer">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/supprimerColaborateurConfirmer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerColaborateur">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/supprimerColaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detaillerColaborateur">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/detaillerColaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierColborateurById">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/modifierColborateurById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierColaborateur">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/modifierColaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileExtension">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/FileExtension" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExporterColaborateur">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/ExporterColaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/sendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterDemandeVisa">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/ajouterDemandeVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="afficherVisa">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/afficherVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerDemandeVisaConfirmer">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/supprimerDemandeVisaConfirmer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerDemandeVisa">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/supprimerDemandeVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detaillerDemandeVisa">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/detaillerDemandeVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierDemandeVisaById">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/modifierDemandeVisaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierDemandeVisa">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/modifierDemandeVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterDeplacement">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/ajouterDeplacement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="afficherDeplacement">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/afficherDeplacement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerDeplacementConfirmer">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/supprimerDeplacementConfirmer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerDeplacement">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/supprimerDeplacement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detaillerDeplacement">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/detaillerDeplacement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierDeplacementById">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/modifierDeplacementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierDeplacement">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/modifierDeplacement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProposeColaborateur">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/ProposeColaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeplacements">
      <soap:operation soapAction="http://tempuri.org/IUColaborateur/getDeplacements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UColaborateur">
    <wsdl:port name="BasicHttpBinding_IUColaborateur" binding="tns:BasicHttpBinding_IUColaborateur">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>