UserInterface/Service References/ServiceUColaborateur/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="ajouterColab">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="colaborateur" nillable="true" type="q1:Colaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajouterColabResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="afficherColab">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="afficherColabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="afficherColabResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerColaborateurConfirmer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerColaborateurConfirmerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supprimerColaborateurConfirmerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerColaborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerColaborateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="supprimerColaborateurResult" nillable="true" type="q2:Colaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detaillerColaborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detaillerColaborateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="detaillerColaborateurResult" nillable="true" type="q3:Colaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierColborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierColborateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="modifierColborateurResult" nillable="true" type="q4:Colaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierColaborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="colaborateur" nillable="true" type="q5:Colaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierColaborateurResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileExtension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileExtensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileExtensionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExporterColaborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exportType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExporterColaborateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExporterColaborateurResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>